.item {
    font-family: "Oswald", sans-serif;
}

.nav-menu {
    background-color: rgb(26, 41, 79);
}

.menu-image {
    background-image: url("../../imgs/menu-img.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: none;
}