
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.App {
  overflow-y: scroll;
  height: 100svh;
}
.page {
  background-color: green;
  width: 100svw;
}

.whole {
  background-color: pink;
  min-width: 100svw;
  max-width: 100svw;
}