
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #273043;
}
.App {
  overflow-y: scroll;
  height: 100svh;
  position: relative;
  overflow-x: hidden;
}
.page {
  background-color: green;
  width: 100svw;
  min-height: 100svh;
}

.whole {
  background-color: pink;
  min-width: 100svw;
  max-width: 100svw;
}

.text-light {
  color: #F2F7F2 !important;
}